/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Estilos para los input radio y etiquetas */
input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    cursor: pointer;
}

/* Estilos para las imágenes */
img {
    border: 2px solid pink;
    background-color: white;
    max-width: 100%;
}

/* Ocultar contenedores por defecto */
#caricaturas-container,
#paisajes-container,
#anime-container {
    display: none;
}

/* Mostrar contenedor de imágenes de caricaturas cuando se selecciona el radio "caricaturas" */
input[type="radio"][id="caricaturas"]:checked ~ #caricaturas-container {
    display: block;
}

/* Aplicar un enfoque similar para otras categorías */
input[type="radio"][id="paisajes"]:checked ~ #paisajes-container {
    display: block;
}

input[type="radio"][id="anime"]:checked ~ #anime-container {
    display: block;
}
